<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Meu Perfil - YummyGo</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flash-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <h2>Meu Perfil</h2>
    <p>
      Olá, {{ current_user.nome_completo }}. Aqui pode atualizar os seus dados.
    </p>
    <hr />

    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <p>
        {{ form.nome_completo.label }}<br />
        {{ form.nome_completo(size=30) }} {% for error in
        form.nome_completo.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>

      <p>
        {{ form.email.label }}<br />
        {{ form.email(size=30) }} {% for error in form.email.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>

      <p>
        {{ form.telefone.label }}<br />
        {{ form.telefone(size=20) }} {% for error in form.telefone.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>

      <p>{{ form.submit() }}</p>
    </form>

    <hr />
    <p>
      <a href="{{ url_for('client.manage_addresses') }}"
        >Gerir os meus Endereços</a
      >
    </p>
    <p>
      <a href="{{ url_for('client.order_history') }}"
        >Ver Histórico de Pedidos</a
      >
    </p>
    <p><a href="{{ url_for('auth.home') }}">Voltar à Página Inicial</a></p>
  </body>
</html>
