{% extends 'base.html' %} {% block content %}
<div class="container mx-auto px-4 py-12 min-h-[calc(100vh-80px)]">
  <h1 class="text-4xl font-bold text-graydark mb-6 text-center">Carreiras</h1>
  <div
    class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-md text-gray-800 leading-relaxed"
  >
    <p class="mb-4">
      Quer fazer parte da equipe YummyGo e ajudar a construir o futuro do
      delivery? Estamos sempre em busca de talentos apaixonados, criativos e
      dedicados para se juntarem a nós.
    </p>
    <p class="mb-4">
      No YummyGo, valorizamos a inovação, o trabalho em equipe e o impacto
      positivo que podemos gerar. Oferecemos um ambiente de trabalho dinâmico,
      oportunidades de crescimento e desafios estimulantes.
    </p>
    <p>
      Confira nossas vagas abertas em [link para página de vagas/email] ou envie
      seu currículo para
      <a
        href="mailto:carreiras@yummygo.com"
        class="text-purplebrand hover:underline"
        >carreiras@yummygo.com</a
      >.
    </p>
  </div>
</div>
{% endblock content %}
