{% extends 'base.html' %} {% block content %}
<div class="container mx-auto px-4 py-12 min-h-[calc(100vh-80px)]">
  <h1 class="text-4xl font-bold text-graydark mb-6 text-center">Sobre Nós</h1>
  <div
    class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-md text-gray-800 leading-relaxed"
  >
    <p class="mb-4">
      Bem-vindo ao YummyGo! Somos uma plataforma dedicada a conectar você às
      suas comidas favoritas com rapidez e conveniência. Nossa missão é
      transformar a experiência de delivery, tornando cada pedido uma jornada
      deliciosa e sem complicações.
    </p>
    <p class="mb-4">
      Fundada em 2025, a YummyGo nasceu da paixão por boa comida e da crença de
      que a tecnologia pode aproximar as pessoas dos sabores que amam. Desde
      então, temos trabalhado incansavelmente para construir uma rede de
      restaurantes parceiros diversificada e uma plataforma intuitiva que atenda
      às suas necessidades.
    </p>
    <p>
      Valorizamos a qualidade, a agilidade e, acima de tudo, a satisfação de
      nossos clientes. Explore o mundo de sabores que o YummyGo oferece e deixe
      que a gente cuide do resto.
    </p>
  </div>
</div>
{% endblock content %}
